*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --corBranca: #fff;

}

header{
    padding: 10px 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 60%);
    z-index: 1;
    position: fixed;
}

header img{
    width: 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav a{
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px;
    font-weight: bold;
    color: var(--corBranca);
    text-decoration: none;
    position: relative;
    transition: 0.5s ease-out;
}

nav a::after{
    content: "";
    width: 0%;
    height: 5px;
    border-radius: 20px;
    background-color: #0066ff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.4s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

.banner{
    height: 100vh;
    background-image: url(../imagens/img-banner.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.conteudo-banner{
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2{
    font-size: 70px;
    letter-spacing: 3px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--corBranca);
}

span{
    color: #00a3ff;
}

.conteudo-banner a{
    margin-top: 40px;
    background-color: #0066ff;
    padding: 40px 75px;
    border-radius: 60px;
    color: var(--corBranca);
    font-size: 36px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 5px 10px 10px rgba(0,0,0, 0.5); 
}

/* area about me */

#about-me, #skills, #portfolio{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 9.5vh 220px;
}

#about-me{
    background-color: #fff;
    height: 100vh;
}

h3{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #0066ff;
    margin-bottom: 80px;
}

.conteudo{
    display: flex;
    align-items: center;
}

.conteudo p{
    font-size: 25px;
    width: 60%;
    text-align: justify;
    line-height: 44px;
    color: #001a42;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#about-me img{
    width: 40%;
    padding-left: 100px;
}

body{
    background-color: #001a42;
}

#skills{
    padding-top: 9.5vh;
    height: 100%;
}

#skills ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}

ul li img{
    background-image: radial-gradient(circle, #00a3ff, #0066ff );
    border-radius: 50%;
    width: 120px;
}

li{
    width: 120px;
    position: relative;
    border-radius: 50%;
}

li::after{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: radial-gradient(circle, #0066ff, #00a3ff, var(--corBranca));
    border-radius: 50%;
    filter: blur(10px);
    transition: all 0.6s ease;
}

li:hover::after{
    transform: scale(1.2, 1.2);
}

.soft-skills{
    width: 100%;
    height: 100%;
    padding-bottom: 10vh;
    text-align: center;
}

.soft-skills h4{
    font-size: 50px;
    color: #0066ff;
    margin-bottom: 10vh;
}

.conteudo-slide{
    background-color: #f1f1f1;
    width: 100%;
    height: 300px;
    padding: 60px 30px;
    display: flex;
    justify-content: space-around;
}

.conteudo-slide img{
    width:auto;
}

.conteudo-slide .content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 60px;
    color: #031024;
}

.content h5{
    font-size: 30px;
}

.content p{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

/* estilos slide skills */

.slider{
    margin: 0 auto;
    width: 50%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 20px 10px 15px #0159de9e;
}

.slide-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slide-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box .conteudo-slide{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 50%;
    margin-top: 17.5%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 2px solid #0066ff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #0066ff;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #0066ff;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


#portfolio{
    background-color: #f1f1f1;
    height: 100vh;
}