*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --corBranca: #fff;

}

header{
    padding: 10px 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 60%);
    z-index: 1;
    position: fixed;
}

header img{
    width: 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav a{
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px;
    font-weight: bold;
    color: var(--corBranca);
    text-decoration: none;
    position: relative;
    transition: 0.5s ease-out;
}

nav a::after{
    content: "";
    width: 0%;
    height: 5px;
    border-radius: 20px;
    background-color: #0066ff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.4s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

.banner{
    height: 100vh;
    background-image: url(../imagens/img-banner.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.conteudo-banner{
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2{
    font-size: 70px;
    letter-spacing: 3px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--corBranca);
}

span{
    color: #00a3ff;
}

.conteudo-banner a{
    margin-top: 40px;
    background-color: #0066ff;
    padding: 40px 75px;
    border-radius: 60px;
    color: var(--corBranca);
    font-size: 36px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 5px 10px 10px rgba(0,0,0, 0.5); 
}

/* area about me */

#about-me, #skills{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 9.5vh 220px;
}

h3{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #0066ff;
    margin-bottom: 80px;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo p{
    font-size: 25px;
    width: 45%;
    line-height: 44px;
    color: #001a42;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#about-me img{
    width: 500px;
    padding-left: 100px;
}


#skills ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}

ul li img{
    background-image: linear-gradient(#0066ff, #00a3ff, var(--corBranca));
    border-radius: 25%;
    width: 150px;
}

ul li{
    position: relative;
}

.porcentagem{
    position: absolute;
    padding: 30px 25px;
    opacity: 0.8;
    border: 3px solid #0066ff;
    background-image: linear-gradient(#0066ff, #00a3ff);
    border-radius: 50%;
    right: %;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
